@charset "UTF-8";

/*
    em HTML é id - em CSS é #(só pode um elemento.)
    em HTML é class - em CSS é .(pode mais de um elemento.)
*/


body{
    background-color: lightgreen;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: green;
}
#T{
    text-align: center;
    background-color: rgb(5, 58, 5);
    color: white;
}
h2{
    color: darkolivegreen;
}
.basico{
    color: rgb(241, 7, 191);
}
.intemediario{
    color: blue; 
}
.avançado{
    color: red;
}
.destaque{
    background-color: maroon;
}